<!-- About Section -->
    <section id="about" class="work-experience-area section-padding">
        <div class="container">
                <div class="section-title">
                <h2>Experience</h2>
            <div class="row">
               <div class="col-sm-12">
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-md-6">
                    <!-- START SINGLE EDUCATION DESIGN AREA -->
                    <div class="single-experience">
                        <h2>Data Engineer Intern</h2>
                        <span>May 2024 - Present</span>
                        <h3>Spiria Inc</h3>
                        <p> Design and implement ETL solutions using Airflow, Ardoq, AWS S3, Postgres, and Redshift to automate and optimize data workflows. Deployed an automated solution to upgrade 120+ XSOAR dependencies and content packs, achieving 95% reduction in required time.</p>
                    </div>
                    <!-- / END SINGLE EDUCATION DESIGN AREA -->

                    <!-- START SINGLE EDUCATION DESIGN AREA -->
                    <div class="single-experience">
                        <h2>Product Manager</h2>
                        <span>Mar 2024 - Present</span>
                        <h3>Lazaridis Students' Society</h3>
                        <p>Enhance product offerings, improve user experience, and meet club-specific needs. Automated hiring post through Zapier, making processes over 25% efficient. </p>
                    </div>
                    <!-- / END SINGLE EDUCATION DESIGN AREA -->

                    <!-- START SINGLE EDUCATION DESIGN AREA -->
                    <div class="single-experience">
                        <h2>Software Engineer</h2>
                        <span>Nov 2021 - August 2023</span>
                        <h3>STEM Labs</h3>
                        <p>Collaborated with two Agile teams to revamp an internal web application that allows STEM Labs to view and contribute to InnerSource projects. Successfully led a team of 4 in a SCRUM Agile environment and leveraged collaborative tools such as Git, GitHub, Jira and Confluence</p>
                    </div>
                    <!-- / END SINGLE EDUCATION DESIGN AREA -->

                
                </div>
                <div class="col-md-6">

                    <!-- START SINGLE EXPERIENCE DESIGN AREA -->
                    <div class="single-experience">
                        <h2>Mobile Developer</h2>
                        <span>Aug 2021 - May 2022</span>
                        <h3>Stealth</h3>
                        <p>Led the development and maintenance of a mobile applications for iOS and Android.
                            App processed hundreds of orders and was adopted as primary the mode of handling customer
                            bookings and trips within the company.</p>
                    </div>
                    <!-- / END SINGLE EXPERIENCE DESIGN AREA -->
                    

                    <!-- START SINGLE EDUCATION DESIGN AREA -->
                    <div class="single-experience">
                        <h2>Lead Assistant Teacher</h2>
                        <span>Jun 2021 - Aug 2023</span>
                        <h3>Spirit of Math Schools</h3>
                        <p> Led a team of 10-15 Assistant Teachers in supporting Kindergarden to Grade 11 teachers in classroom environments and facilitating student success. Built an internally-distributed cross-platform application for assistants to submit
                            absences, log extra work and time,  fill electronic forms, and more. App was
                            designed for use by 100+ employees at 7 different operating locations across Ontario.</p>
                    </div>
                    <!-- / END SINGLE EDUCATION DESIGN AREA -->


                </div>
            </div>
        </div>
    </section>
    <!-- / END WORK EXPERIENCE DESIGN AREA -->

                </div>
            </div>
        </div>
    </section>
