<!-- About Me Section -->
<section id="services">
    <div class="container">
        <div class="columns">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me!</h2>
                </div>
                <div class="col-lg-12 left-align">
                        <p>👋 Hey, I'm Anandi Jawkar! A Computer Science and Business Administration (Double Degree) Student @ The University of Waterloo & Wilfrid Laurier University building tech to address fundamental problems!</p>
                        <p>💻 Through hackathons, previous work terms, and personal projects, I have valuable experience working with full-stack and general software development!</p>
                        <p>✨ I'm currently seeking Winter 2025 internships</p>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <h4 class="section-title"><b>🧚‍♀️ Some of my latest endeavors:</b></h4>
                    <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Slider HTML & CSS | CodingNepal</title>
  <!-- Linking Google fonts for icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- Linking SwiperJS CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container swiper">
    <div class="card-wrapper">
      <!-- Card slides container -->
      <ul class="card-list swiper-wrapper">
        <li class="card-item swiper-slide">
          <a href="#" class="card-link">
            <img src="images/designer.jpg" alt="Card Image" class="card-image">
            <p class="badge badge-designer">Designer</p>
            <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="#" class="card-link">
            <img src="images/developer.jpg" alt="Card Image" class="card-image">
            <p class="badge badge-developer">Developer</p>
            <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="#" class="card-link">
            <img src="images/marketer.jpg" alt="Card Image" class="card-image">
            <p class="badge badge-marketer">Marketer</p>
            <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="#" class="card-link">
            <img src="images/gamer.jpg" alt="Card Image" class="card-image">
            <p class="badge badge-gamer">Gamer</p>
            <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="#" class="card-link">
            <img src="images/editor.jpg" alt="Card Image" class="card-image">
            <p class="badge badge-editor">Editor</p>
            <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
      </ul>

       <!-- Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Navigation Buttons -->
      <div class="swiper-slide-button swiper-button-prev"></div>
      <div class="swiper-slide-button swiper-button-next"></div>
    </div>
  </div>

  <!-- Linking SwiperJS script -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Linking custom script -->
  <script src="script.js"></script>
</body>
</html>
                </div>
                <div class="col-lg-12 left-align">
                    <p>💼 Data Engineering Intern @ Spiria - Automating and optimizing data workflows with ETL solutions and custom Airflow operators</p>
                    <p>🔬 Undergraduate Research Assistant @ University of Waterloo - Exploring the world of Human-Computer Interaction!</p>
                    <p>📈 Product Manager @ Lazaridis Students' Society - Enhancing products and streamlining communication for 24 Laz clubs</p>
                    <p>🤝 Delegate @ Laurier Case Team - Competing for Laurier's National Case Competition Team!</p>
                    <p>💰 President @ Duke of Ed FX - Led 50+ students to achieve an internationally recognized award</p>
                    <p>💻 Software Engineer @ STEM Labs - Eliminated bugs and built a full-stack app for GitHub data analysis</p>
                    <p>📅 Event Coordinator @ Bloom Red Project - Donated 2000+ menustral products to those experiencing period poverty</p>
                    <p>📢 Director of Promotions @ International Humanitarian Peel Youth Council - Raised over $35, 000 for charity and attracted over 600 people to our events</p>
                    <p>🛠️ Data Engineer @ Stealth - Implemented 5% more efficient data pipelines for smooth flow of info</p>
                    <p>🔬 Researcher @ University of Toronto - Used COBWEB software to investigate 350+ vector-borne diseases</p>
                    <p>💡 Innovator @ TKS - Delved into nanotechnology and its applications to help cure cancer!</p>
                </div>
                <div class="col-lg-12 text-center">
                    <h4 class="section-title">⭐ Some awards I've earned:</h4>
                </div>
                <div class="col-lg-12 left-align">
                    <p>🥇 National Champion - UCMAS National Math Competition (First among 10, 000+ participants)</p>
                    <p>🥉 3rd Internationally Franchise Business Plan - Entrepreneurship Category (Presented a comprehensive business plan proposal to buy into an existing franchise)</p>
                    <p>🎖️ Lt R Hampton Gray VC Award - 789 Squadron (Awarded to the Top Overall Cadet who exemplifies the highest standards of the Air Cadet Movement)</p>
                    <p>🥈 Second Place Nationally, Polar Express National Short Story Competition (Second of 650 submissions)</p>
                    <p>🌟 Honour Roll in Mathematica Centrum's Newton, Lagrange, Euler, Pythagoras, Fibonacci, Byron-Germain, and Thales Contests
                    <p>💸 Over $100,000 in Scholarships - Various Universities </p>
                    <p>🎖️ Commanding Officer's Coin of Excellence - Government of Canada (Awarded to Individuals who demonstrate outstanding performance)</p>
                    <p>🌍 23rd Internationally - Caribou Math Contests </p>
                    <p>🏆 Distinction in University of Waterloo’s Fermat, Euclid, Pascal and Gauss Competitions (2x school champion)
                    <p>🥈 Silver Award @ Duke of Edinburgh International Award </p>
                    <p>🎖️ Anna Lesiw Award of Initiative & Enthusiasm - 789 Squadron (Awarded to the cadet who has shown the most initiative in the betterment of the Squadron)</p>
                    <p>💸 National Air Cadet Scholarship ($20,000) - Air Cadet League of Canada</p>
                    <p>🥈 2nd Place - Panorama Idol (Regional Singing Competition)</p>
                    <p>🏆 Provincial Champion (Marketing Team Decision Making) - DECA </p>
                    <p>🥇 Community Service Award (1800+ hours of community service) - St. Francis Xavier Secondary School</p>
                </div>
                <div class="col-lg-12 left-align">
                    <p>🎨 In my free time I love discovering anything music, reading, biking, running, weightlifting, mental health, travelling, and reversing the stigma around women in computing!</p>
                </div>
            </div>
        </div>
    </div>
</section>
