<!-- Portfolio Grid Section -->
<section id="portfolio" class="work section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Projects</h2>
                        <h3 class="section-subheading text-muted">Check out some of my projects!</h3>
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp">
                <ul class="work">
                    <li class="filter" data-filter="all">all</li>
                    <li class="filter" data-filter=".development">development</li>
                    <li class="filter" data-filter=".design">design</li>
                </ul>
            </div>
            <div class="work-inner wow fadeInUp">
                <div class="row work-posts grid">

                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix development">
                        <div class="item">

                            <a href="#grove-work-popup" class="work-popup">

                                <figure class="effect-ruby">

                                    <!-- START SINGLE WORK POP DESIGN AREA -->
                                    <div id="grove-work-popup" class="work-popup-style mfp-hide">
                                        <img src="img/profile-pic.jpg" alt="Grove"
                                            style="max-width: 300px; max-height: 300px; flex: 1; ">
                                        <div style="flex: 2; padding-left: 20px;">
                                            <h2>Grove</h2>
                                            <p><b>Tools: </b>Python, Flask, spaCy JavaScript, React, AWS EC2, CloudFront, S3</p>
                                            <p>Grove is an AI-powered calendar assistant application that can turn your words, into events on your calendar. 
                                                Simply give it a prompt, and Grove will automatically update your calendar with your new event, eliminating 
                                                the painstaking process of manually inputting event details like start date, end date, etc. one by one.</p>
                                            <div id="work-popup-style-button-container"
                                                onclick="window.open('http://grove.anantjyotgrang.com', '_blank');">
                                                <button class="work-popup-style-button">View Project</button>
                                                <svg class="work-svg" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <!-- END SINGLE WORK POP DESIGN AREA -->

                                    <!-- START SINGLE WORK HOVER AREA -->
                                    <img src="img/profile-pic.jpg" alt="HealthifyApp">
                                    <figcaption>
                                        <h2>AI  Calendar Assistant</h2>
                                        <p>Grove</p>
                                    </figcaption>
                                    <!-- END SINGLE WORK HOVER AREA -->
                                </figure>
                            </a>
                        </div>
                    </div>


                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix development">
                        <div class="item">

                            <a href="#work1-popup" class="work-popup">

                                <figure class="effect-ruby">

                                    <!-- START SINGLE WORK POP DESIGN AREA -->
                                    <div id="work1-popup" class="work-popup-style mfp-hide">
                                        <img src="img/profile-pic.jpg" alt="HealthifyApp"
                                            style="max-width: 300px; max-height: 300px; flex: 1; ">
                                        <div style="flex: 2; padding-left: 20px;">
                                            <h2>HealthifyApp</h2>
                                            <p><b>Tools: </b>Android SDK, Java, TensorFlow, Python, Firebase</p>
                                            <p>An all-in-one personal health tracker that allows individuals to make
                                                sustainable changes by improving eating habits and setting personal
                                                goals. Provides access to over 2 million health-conscious recipes and
                                                offers a feature called Food Scan which uses a machine learning model to
                                                detect over 2000 foods for easy calorie-logging.</p>
                                            <div id="work-popup-style-button-container"
                                                onclick="window.open('https://play.google.com/store/apps/details?id=com.agAppsCo.healthifyapp', '_blank');">
                                                <button class="work-popup-style-button">View Project</button>
                                                <svg class="work-svg" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <!-- END SINGLE WORK POP DESIGN AREA -->

                                    <!-- START SINGLE WORK HOVER AREA -->
                                    <img src="img/profile-pic.jpg" alt="HealthifyApp">
                                    <figcaption>
                                        <h2>Personal Health Tracker</h2>
                                        <p>HealthifyApp</p>
                                    </figcaption>
                                    <!-- END SINGLE WORK HOVER AREA -->
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->

                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix development">
                        <div class="item">

                            <a href="#work2-popup" class="work-popup">

                                <figure class="effect-ruby">

                                    <!-- START SINGLE WORK POP DESIGN AREA -->
                                    <div id="work2-popup" class="work-popup-style mfp-hide">
                                        <img src="img/profile-pic.jpg" alt="Mobile Taxi-Booking App"
                                            style="max-width: 300px; max-height: 300px; flex: 1; ">
                                        <div style="flex: 2; padding-left: 20px;">
                                            <h2>Mobile Taxi-Booking App</h2>
                                            <p><b>Tools: </b>Flutter SDK, Dart, Firebase, Google Maps Places, Twilio
                                                SMS</p>
                                            <p>A mobile taxi-booking app developed for A1 Airline Taxi & Van to allow
                                                customers to easily plan and book trips. Built with the Flutter SDK to
                                                provide native-like performance; the app communicates with a MariaDB
                                                database to access orders and contact information. Google Maps Places
                                                API facilitates address lookup and Twilio API powers SMS customer
                                                communications.</p>
                                            <div id="work-popup-style-button-container"
                                                onclick="window.open('https://apps.apple.com/ca/app/a1-airline-taxi-van/id1586419345', '_blank');">
                                                <button class="work-popup-style-button">View Project</button>
                                                <svg class="work-svg" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <!-- END SINGLE WORK POP DESIGN AREA -->

                                    <!-- START SINGLE WORK HOVER AREA -->
                                    <img src="img/profile-pic.jpgg" alt="Mobile Taxi-Booking App">
                                    <figcaption>
                                        <h2>Mobile Taxi-Booking App</h2>
                                        <p>A1 Airline Taxi & Van</p>
                                    </figcaption>
                                    <!-- END SINGLE WORK HOVER AREA -->
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->

                    

                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix design">
                        <div class="item">

                            <a href="#work3-popup" class="work-popup">

                                <figure class="effect-ruby">

                                    <!-- START SINGLE WORK POP DESIGN AREA -->
                                    <div id="work3-popup" class="work-popup-style mfp-hide">
                                        <img src="img/profile-pic.jpg" alt="Mercato"
                                            style="max-width: 300px; max-height: 300px; flex: 1; ">
                                        <div style="flex: 2; padding-left: 20px;">
                                            <h2>Mercato</h2>
                                            <p><b>Tools: </b>Adobe XD, Apple Human Interface</p>
                                            <p>Mercato is a concept application that was designed to help small and
                                                medium-sized businesses boost sales during the pandemic by providing an
                                                e-commerce platform to list goods and products on. Retailers can add and
                                                market any products they want to make visible to users.</p>
                                            <div id="work-popup-style-button-container"
                                                onclick="window.open('https://xd.adobe.com/view/d36f4613-598f-42e5-b4d0-c7338a805208-863c/?fullscreen', '_blank');">
                                                <button class="work-popup-style-button">View Project</button>
                                                <svg class="work-svg" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <!-- END SINGLE WORK POP DESIGN AREA -->

                                    <!-- START SINGLE WORK HOVER AREA -->
                                    <img src="img/profile-pic.jpg" alt="Mercato E-Commerce Platform">
                                    <figcaption>
                                        <h2>SMB E-Commerce Platform</h2>
                                        <p>Mercato</p>
                                    </figcaption>
                                    <!-- END SINGLE WORK HOVER AREA -->
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->

                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix development">
                        <div class="item">

                            <a href="#work4-popup" class="work-popup">

                                <figure class="effect-ruby">

                                    <!-- START SINGLE WORK POP DESIGN AREA -->
                                    <div id="work4-popup" class="work-popup-style mfp-hide">
                                        <img src="img/profile-pic.jpg" alt="Bus Driver Companion"
                                            style="max-width: 300px; max-height: 300px; flex: 1; ">
                                        <div style="flex: 2; padding-left: 20px;">
                                            <h2>Bus Driver Companion</h2>
                                            <p><b>Tools: </b>Flutter SDK, Dart, Python</p>
                                            <p>An internal companion app for Switzer-CARTY Transportation bus drivers.
                                                Simplifies drivers' duties to submit leaves, log and specify overtime,
                                                store payment receipts, fill electronic documents, and other day-to-day
                                                tasks. Designed for use by 100+ employees across 7 branch locations.</p>
                                            <!-- <div id="work-popup-style-button-container"
                                                onclick="window.open('', '_blank');">
                                                <button class="work-popup-style-button">View Project</button>
                                                <svg class="work-svg" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
                                                </svg>
                                            </div> -->
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <!-- END SINGLE WORK POP DESIGN AREA -->

                                    <!-- START SINGLE WORK HOVER AREA -->
                                    <img src="img/profile-pic.jpg" alt="Bus Driver Companion">
                                    <figcaption>
                                        <h2>Bus Driver Companion</h2>
                                        <p>Switzer-CARTY Transportation</p>
                                    </figcaption>
                                    <!-- END SINGLE WORK HOVER AREA -->
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->

                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix design">
                        <div class="item">

                            <a href="#work5-popup" class="work-popup">

                                <figure class="effect-ruby">

                                    <!-- START SINGLE WORK POP DESIGN AREA -->
                                    <div id="work5-popup" class="work-popup-style mfp-hide">
                                        <img src="img/profile-pic.jpg" alt="Formalwear Site Design"
                                            style="max-width: 300px; max-height: 300px; flex: 1; border: 0.05px solid #273769;">
                                        <div style="flex: 2; padding-left: 20px;">
                                            <h2>Formalwear Site Design</h2>
                                            <p><b>Tools: </b>Adobe XD</p>
                                            <p>Andrew's Formals is a local business specializing in formalwear for
                                                special events. As part of a consultation for a business study, a
                                                complete makeover for the business's website was created to increase
                                                customer engagement and positive impressions.</p>
                                            <div id="work-popup-style-button-container"
                                                onclick="window.open('https://drive.google.com/drive/folders/1Gq1T-Zo4c-UA6va5F4Xlyrq-bkn9lGpD?usp=sharing', '_blank');">
                                                <button class="work-popup-style-button">View Project</button>
                                                <svg class="work-svg" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <!-- END SINGLE WORK POP DESIGN AREA -->

                                    <!-- START SINGLE WORK HOVER AREA -->
                                    <img src="img/profile-pic.jpg" alt="Formalwear Site Design">
                                    <figcaption>
                                        <h2>Formalwear Site Design</h2>
                                        <p>Andrew's Formals</p>
                                    </figcaption>
                                    <!-- END SINGLE WORK HOVER AREA -->
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->

                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix design development">
                        <div class="item">
                            <figure class="effect-ruby">
                                <!-- START SINGLE WORK HOVER AREA -->
                                <img src="img/profile-pic.jpg" alt="More projects coming soon.">
                                <figcaption>
                                    <h2>Coming Soon</h2>
                                    <p>Creating more projects soon!</p>
                                </figcaption>
                                <!-- END SINGLE WORK HOVER AREA -->
                            </figure>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->
                </div>
            </div>
        </div>
    </section>
    <!-- / END START WORK DESIGN AREA -->
